<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=PTechDS01;Initial Catalog=DEV_TURN2US_KENTICO_CONT_SYN;Integrated Security=False;User ID=turn2us_kentico_user;Password=kDDtLRcvw7uYVf1;Connect Timeout=60" />
  </connectionStrings>
</configuration>